/vendor/
/vendorX/
composer.lock
/assets/images/people
/TouchPointWP_ErrorLog.txt
/.phpdoc/
*.phar

/.idea/workspace.xml
/.idea/usage.statistics.xml
/.idea/shelf
/.idea/deployment.xml
/.idea/dataSources.xml
/.idea/webServers.xml

*.min.js
node_modules

/i18n/*.json
/i18n/*.mo

package-lock.json

/build/
/touchpoint-wp.zip