.tp-swal-container input[type=text],
.tp-swal-container input[type=email],
.tp-swal-container input[type=tel],
.tp-swal-container textarea,
.tp-swal-container select {
    display: block;
    width: 100%;
}

.tp-swal-container textarea {
    resize: vertical;
    min-height: 3em;
}

.tp-swal-container input, .tp-swal-container select {
    text-align: center;
}

div.swal2-content table.tp-checkbox-list,
div.swal2-content table.tp-radio-list {
    text-align: left;
    margin: 0 auto;
}
div.swal2-content table.tp-radio-list {
    width: 100%;
}

.tp-swal-container .no-wrap {
    white-space: nowrap;
}

button[data-tp-action]:not([disabled]) {
    cursor: pointer;
}