.tp-swal-container input[type=text],
.tp-swal-container input[type=email],
.tp-swal-container input[type=tel],
.tp-swal-container textarea,
.tp-swal-container select {
    display: block;
    width: 100%;
}

.tp-swal-container textarea {
    resize: vertical;
    min-height: 3em;
}

.tp-swal-container input, .tp-swal-container select {
    text-align: center;
}

div.swal2-content table.tp-checkbox-list,
div.swal2-content table.tp-radio-list {
    text-align: left;
    margin: 0 auto;
}
div.swal2-content table.tp-radio-list {
    width: 100%;
}

button[data-tp-action]:not([disabled]) {
    cursor: pointer;
}

i.tenth-icons {
    margin: -2em 0;
}

/* Use the SVG as a mask so the icon can be colored via `currentColor`.
   background-color determines the visible color of the masked SVG. */
i.tenth-icons::before {
    content: '';
    width: 1em;
    height: 1.2em;
    margin-top: -.25em;
    margin-bottom: -0.24em;
    display: inline-block;
    vertical-align: middle;
    background-color: currentColor;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

i.tenth-icons.map-marker::before {
    -webkit-mask-image: url("../icons/map-marker.svg");
    mask-image: url("../icons/map-marker.svg");
    /*background-image: url("../icons/map-marker.svg");*/
}

i.tenth-icons.touchpoint-icon::before {
    -webkit-mask-image: url("../icons/touchpoint.svg");
    mask-image: url("../icons/touchpoint.svg");
    /*background-image: url("../icons/touchpoint.svg");*/
}