.involvement-list {
    display: flex;
    flex-wrap: wrap;
    /* align-items: stretch; */
}

article.involvement-list-item {
    flex: 1 1 350px;
    box-shadow: 10px 10px 20px #00000033;
    margin: 0.8em;
    position: relative;
    padding: 0.8em;
    display: flex;
    flex-direction: column;
}

.involvement-list-item .involvement-actions {
    padding-top: .5em;
    text-align: right;
}

.involvement-list-item .involvement-actions button,
.involvement-list-item .involvement-actions a.button {
    position:relative;
    z-index:10;
}

.involvement-list-item div.post-meta-single {
    font-size: 0.8em;
    opacity: 0.7;
    font-weight: bolder;
}

.involvement-list-item div.thin.entry-content {
    flex: 1 1 auto;
}

div.involvement-list article.involvement-list-item h2.entry-title {
    padding: 0 0 0 0;
}

.involvement-list-item h2 a:after {
    content: ' ';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index:5;
}

div.involvement-map-container {
    width: 100%;
    padding-bottom: 40vh;
    position: relative;
}

h1.archive-title.page-title {
    position: relative;
    z-index: 10;
}

.map p {
    text-align: inherit;
}

div.swal2-content table.tp-checkbox-list {
    text-align: left;
    margin: 0 auto;
}

article .section-inner.involvement-detail {
    display: flex;
}

article .involvement-detail-cell {
    flex: 1 1 0;
}

article .involvement-detail-cell.involvement-map-container {
    flex: 2 2 0;
    padding-bottom: 30%;
}

article .involvement-detail-cell .involvement-detail-cell-section {
    text-align:center;
    margin-bottom: 2em;
}

.swal2-content textarea {
    width: 100%;
}